@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800;700&display=swap');
.h-container{
    background-color: black;
    width: 100%;
    height: 70vh;
    /* height: ; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    position: relative;

}
.h-container .head{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: flex-start;
    width: calc(100vw - 240px);
    margin-top: -80px;
    /* height: 100%; */
    /* background-color: red; */
}
.fear-less{
    font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 48px;
line-height: 39px;
letter-spacing: 0.325em;
color: white;
}
.save-date{
    color: white;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
}
.date{
    color: rgb(240, 40, 6);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
}