@font-face {
    font-family: Helvetica;
    src: url(../Assests//Helvetica-Font/Helvetica.ttf);
}
@font-face {
    font-family: Monster;
    src: url(../Assests/Restore/Heavy/Restore.otf   );
}

/* * {
    font-family: Helvetica;
} */


.head {
    font-family: Helvetica;
    z-index: 1;
    color: red;
    background-color: #0e0d0d;
    /* background-color: white; */
    /* box-shadow: 2px 2px 100px 2px yellow; */
    z-index: 10;
    /* background-color: black; */
}

.head a {
    text-decoration: none;
    color: aliceblue;
    display: inline-block;
    position: relative;
}

.head a::after {
    content: '';
    position: absolute;
    width: 100%;
    max-width: 260px;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: red;
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
}

.head a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* .head a {
    color: white;
    font-size: larger;
    font-weight: 500;
}

.navbar-nav a:hover {
    box-shadow: 0px -3px 0px 0px red;
    transition: 0.3s all;
    color: white;
}
 */

.land {
    position: relative;
    font-family: Helvetica;
    /* height: 800px; */
    background-color: inherit;
    display: flex;
    justify-content: space-evenly;
    /* max-width: 1400px; */
    /* background-image: linear-gradient(to right, rgb(221, 75, 75), #035968); */
}

.land head {
    /* position: absolute; */
    padding: 10% 0px;
    /* height: 800px; */
    min-height: 800px;
    /* background-color: red; */
    max-width: 800px;
    color: white;
    /* top: 10%; */
    /* left: 10%; */
    display: block;
}

.land fig {
    width: 28%;
    margin-top: 8%;
    /* margin-left: 2%; */
    animation-name: bounce;
    animation-duration: 3s;
    /* box-shadow: -5px 0px 10px 0px grey; */
    z-index: 0;
}

@keyframes bounce {
    0% {
        margin-top: 8%;
    }

    50% {
        margin-top: 5%;
    }

    100% {
        margin-top: 8%;
    }
}

.about {
    background-image: linear-gradient(to right, #ffff, #ffff);
    /* color: aliceblue;  */
    font-family: Helvetica;
    /* background-color: white; */
    z-index: 100;
}

.about txt {
    display: block;
    max-width: 1000px;
    margin: auto;
    padding: 2% 0px;
    text-align: center;
}

.about button {
    background-color: #ffff;
    text-decoration: none;
    display: inline-block;
    position: relative;
    border: none;
    /* border-bottom: red solid 3px; */
}

.about button::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: red;
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
}

.about button:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}


.speakers {
    margin-top: 2%;
    padding: 2%;
    /* height: 400px; */
    font-family: Helvetica;
    color: white;
    /* background-color: aliceblue; */
    text-align: center;
    background-color: inherit;
}

.speakers div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.speakers div section {
    width: 20%;
    margin: 2%;
    min-width: 300px;
    background-image: linear-gradient(to bottom, white, #1a1a1a);
    overflow: hidden;
    border-radius: 20px;
    /* border: 20px solid black; */
}

.speakers h3 {
    text-decoration: none;
    color: aliceblue;
    display: inline-block;
    position: relative;
}

.speakers h3::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: red;
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
}

.speakers h3:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.speakers h5 {
    margin-top: 10px;
    font-weight: bold;
    font-size: 25px;
    color: white;
    letter-spacing: 1px;
    z-index: 1;
    /* overflow: hidden; */
    font-weight: 900;
    /* color: rgb(223, 47, 47); */
    /* text-shadow: 0px 0px 0px #ffff; */
    /* text-shadow: 10px 10px 10px 200px black; */
}

.speakers p {
    font-size: 15px;
}

.speakers div img {
    opacity: 0.5;
    z-index: -1;
}

.speakers div img:hover {
    transform: scale(1.05);
    transition: 0.6s all;
    cursor: pointer;
    opacity: 1;
    z-index: -1;
}


@media screen and (max-width: 990px) {
    .land fig {
        display: none;
    }

    .land head {
        margin-top: 20%;
        padding: 20px;
    }

    .mx-auto mb-4 img {
        width: 10px;
    }

    .head img {
        width: 100%;
    }

    .blog section {
        width: 100%;
    }
}

.navbar-light .navbar-toggler {
    /* background-color: white; */

    background-image: url(../Assests/ham.png);
    background-size: 70%;
    background-repeat: no-repeat;
}

.aboutp {
    /* background-color: aliceblue; */
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1440px;
    margin: 2% auto;
    font-family: Helvetica;
}

.aboutp section {
    color: white;
    text-align: center;
    width: 50%;
    min-width: 300px;
    /* margin: 2%; */
    padding: 2%;
    margin: auto;
}


.blog {
    max-width: 1400px;
    margin: 2% auto;
    display: flex;
    font-family: Helvetica;
    flex-wrap: wrap;
    z-index: 1;
}

.blog section {
    margin: 1%;
    width: 30%;
    /* height: 37.5rem; */
    background-color: transparent;
    text-align: center;
    border-radius: 20px;
}
.blog txt{
    background-color: white;
    display: block;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 2px;
    margin: -5px 0px;
}
.blog section p {
    padding: 0px 10px;
}

.blog section a {
    z-index: 22;
    border-radius: 50%;
    background-color: red;
    /* font-weight: 900; */
    color: aliceblue;
    padding: 10px 15px;
    box-shadow: 2px 2px 10px 2px black;
}

.blog section a:hover {
    box-shadow: 2px 2px 20px 5px black;
}

.blog section fig {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: block;
    height: 200px;
    overflow: hidden;
    /* background-image: url("https://miro.medium.com/max/1400/1*SwviGDaxkrHhOFqBLPMYvA.jpeg"); */
    /* background-size: cover; */
    /* background-position: center; */
    opacity: 0.8;
}

.blog section:hover {
    transform: scale(1.02);
    transition: 0.6s all;
    cursor: pointer;
    opacity: 1;
}


.theme {
    max-width: 1400px;
    color: white;
    margin:2% auto;
    /* font-stretch: extra-condensed; */
}
.theme section{
    text-align: center;
    padding: 25px;
    /* margin: 50%; */
}
.themetext {
    display: block;
    /* padding-top: 8%; */
    text-align: center;
    /* height: 60rem; */
    /* width: 150%; */
    /* max-width: 100%;     */
    /* background-image: url(../Assests/TED_Splash1.png); */
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
    /* position: absolute; */
    font-family: Monster;
    color: red;
    /* text-shadow: -1.2px 0 red, 0 1.2px red, 1.2px 0 red, 0 -1.2px red; */
   /* font-weight: 900; */
    font-size: 100px;
}
.themepic{
    /* filter: blur(5px); */
}


.react-rotating-text-cursor {
    /* visibility: ; */
    color: white;
    width: 1px;
    /* font-weight: 400; */
    /* font-size: 50px; */
}



@media screen and (max-width: 990px) {
    .land fig {
        display: none;
    }

    .land head {
        margin-top: 20%;
        padding: 20px;
    }

    .mx-auto mb-4 img {
        width: 10px;
    }

    .head img {
        width: 100%;
    }

    .blog section {
        width: 100%;
    }
    
    .theme txt {
        font-size: 50px;
    }
}